<div id="outdated">
  <h6>
    <%= t('outdatedbrowser.out_of_date') %>
  </h6>
  <p>
    <%= t('outdatedbrowser.suggest_update') %>
    <a id="btnUpdateBrowser" href="http://outdatedbrowser.com/">
      <%= t('outdatedbrowser.update_now') %>
  </a>
  </p>
  <p class="last">
    <a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a>
  </p>
</div>
